@model WebApplication1.Models.Book;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

@{
    ViewData["Title"] = "Create";
}

<h4>Create New Book</h4>
@* Affiche les erreurs *@
<div asp-validation-summary="All" class="text-danger"></div>
<hr/>
<div class="row">
    <div  class="col-md-4">
        <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId">Author</label>
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorList")">
                        <option value="">-- Select Author --</option>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Create" class="btn btn-info"/>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>